body{
    box-sizing: border-box;    
    background-color: rgb(244, 235, 255);

}
.corpus{
    background-color: rgb(11, 9, 88);
    border-style: dashed;
    border-color: rgb(250, 210, 213);
    text-align: center;
    font-family: Arial Verdana Tahoma Times;
    text-transform: uppercase;
    padding: 6%;
}
.title{
    text-decoration: wavy underline;
    text-decoration-color: rgba(9, 252, 171, 0.897);
    color: rgb(52, 157, 255);
}
.content{
    background-color: #eec7ad;
    border-style: dashed;
    border-color: rgba(252, 39, 252, 0.342);
    padding: 5%;
    text-align: center;
    background-image: linear-gradient(32deg, #063697 20%, transparent 23%, transparent 29%, #a30a2b 40%, #000 75%, transparent 76%, #eec7ad);

}
ul{
    padding: 0%;
}
li{
    display: block;
    background-color:rgb(236, 213, 184);
    border: solid 3px rgb(73, 46, 46);
    margin: 10px auto;
}
a{
    color: rgb(10, 118, 145);  
    text-decoration: none;
}

